---
import Github from "@lucide/astro/icons/github";
import Globe from "@lucide/astro/icons/globe";
---

<header
  class="px-6 lg:px-0 max-w-6xl mx-auto w-full py-4 flex items-center justify-between"
>
  <div class="flex items-center gap-4">
    <h2>
      FRONTEND CHALLENGES
    </h2>
  </div>
  <div class="flex items-center gap-4">
    <a
      class="flex gap-1.5 text-sm items-center border-2 bg-white border-black px-4 py-2 font-semibold text-black shadow-[4px_4px_0_0] hover:bg-home-primary focus:ring-2 focus:ring-home-primary focus:outline-0"
      href="#"
    >
      <Github class="size-5" />
      <span class="md:block hidden relative z-10"> Github </span>
    </a>
    <a
      class="flex gap-1.5 text-sm items-center border-2 bg-white border-black px-4 py-2 font-semibold text-black shadow-[4px_4px_0_0] hover:bg-home-primary focus:ring-2 focus:ring-home-primary focus:outline-0"
      href="#"
    >
      <Globe class="size-5" />
      <span class="hidden md:block relative z-10"> Portfolio </span>
    </a>
  </div>
</header>
